* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* overflow: hidden; */
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(155, 184, 155);
    width: 100%;
    height: 100%;
}

#panel {
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

#ptop {
    padding: 0 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: rgb(57, 107, 57);
}

.elem {
    display: flex;
    gap: 20px;
    align-items: center;
    color: #fff;
    list-style: none;
}

.box {
    border-radius: 5px;
    background-color: #fff;
    padding: 10px 18px;
    color: rgb(57, 107, 57);
    font-size: 20px;
    font-weight: 600;
}

#pbtm {
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bubble {
    background-color: rgb(57, 107, 57);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 500;
}

.bubble:hover {
    background-color: rgb(39, 73, 39);
}

@media (max-width:700px){
    h2{
        font-size: 15px;
    }
    #ptop {
        padding: 0 20px;
    }
    .box{
        padding: 3px 8px;
        color: rgb(57, 107, 57);
        font-size: 15px;
        font-weight: 600;
    }
    .elem {
        display: flex;
        flex-direction: column;
    }
}

#pbtm span {
    font-size: 20px;
    font-weight: 700;
    color: red;
}

i {
    color: red;
    font-size: 20px;
    font-weight: 600;
    /* overflow: hidden; */
}

.hidden {
    display: none;
}

#pbtm h1 {
    color: red;
    font-size: 45px;
    font-family: monospace;
}
